:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  color: #662d2d;
  font-size: 35px;
  display: block;
  text-align: center;
}
.h1 {
  margin-top: 5%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
}
.content {
  color: #662d2d;
  font-size: 35px;
  display: block;
  text-align: center;
}
.titlu_pagina {
  color: #662d2d;
  text-align: center;
}
.containercontact {
  color: #662d2d;
  font-size: 25px;
  text-align: center;
  display: block;
  width: 25%;
  margin: auto;
  flex-direction: column-reverse;
}
.titlu_proiector {
  color: #662d2d;
  text-align: left;
  font-size: 35px;
}
.item_block {
  display: inline-grid;
  width: 500px;
  box-shadow: 10px 10px #662d2d;
}
.descriere {
  color: #662d2d;
}
.caracteristici {
  color: #662d2d;
}
.titlu_produs {
  color: #662d2d;
  text-align: center;
  font-size: 35px;
  width: 450px;
}
.grid_container {
  color: #662d2d;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10
  px;
  column-gap: 24px;
  row-gap: 24px;
}
.grid_item {
  background-color: rgb(214, 214, 214);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  
}
