:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  color: #662d2d;
  font-size: 35px;
  display: block;
  text-align: center;
}
.h1 {
  margin-top: 5%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
}
.content {
  color: #662d2d;
  font-size: 35px;
  display: block;
  text-align: center;
}
.titlu_pagina {
  color: #662d2d;
  text-align: center;
}
.containercontact {
  color: #662d2d;
  font-size: 25px;
  text-align: center;
  display: block;
  width: 25%;
  margin: auto;
  flex-direction: column-reverse;
}

/* .item_block { */
/* display: inline-grid; */
/* width: 500px; */
/* box-shadow: 10px 10px #662d2d; */
/* } */

