.led_titlu_pagina {
  color: #662d2d;
  text-align: center;
}
.led_grid_container {
  margin-top: 25px;
  color: #662d2d;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10 px;
  column-gap: 24px;
  row-gap: 24px;
}

.led_grid_item {
  background-color: rgb(214, 214, 214);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px #662d2d;
  width: 450px;
}

.titlu_proiector {
  color: #662d2d;
  text-align: center;
  font-size: 35px;
}
.led_descriere {
  color: #662d2d;
}
.led_caracteristici {
  color: #662d2d;
}
.imagine_produs {
  border: 0.5px solid black;
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
}
.led_descriere_pagina {
  color: #662d2d;
  text-align: left;
}
